html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 18px;
}

#header {
    height: 7vh;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #132257;
    color: white;
}

#content {
    display: flex;
}

#sidebar {
    height: 93vh;
    width: 20vw;
    border-right: groove thin;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f2;
}

#sidebar-top-wrapper {
    text-align: center;
}

#new-project {
    background: hsl(140, 100%, 30%);
    color: white;
    height: 2rem;
    font-size: 1.1rem;
    font-weight: bolder;
    border: thin;
}

#new-project:hover {
    background: hsl(140, 100%, 45%);
}

/*Styling for list of projects in the sidebar*/
#projects-list {
    width: 20vw;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

/*Styling for the buttons in the sidebar*/
.project-sidebar {
    height: 2rem;
    color: black;
    font-weight: bolder;
    border: none;
    background: #f2f2f2;
    text-align: left;
    padding-left: 4rem;
}

.project-sidebar:hover {
    background: #d6d6c2;
}

/* #project-full through .low-priority styles the full display of a project
   and its todos*/

#project-full {
    padding: 0rem 1.5rem;
    width: 80%;
}

#project-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo {
    border: solid thin;
    padding: 0rem 0.3rem;
}

.todo-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-name-and-date {
    display: flex;
}

.todo-details-hidden {
    display: none;
}

.todo-completed {
    text-decoration: line-through;
    color: hsl(0, 0%, 30%);
}

.high-priority {
    background-color: #ff8080;
}

.medium-priority {
    background-color: #ffff66;
}

.low-priority {
    background: #66ff66;
}

/*Styling of buttons that change or delete projects and todos*/

#new-todo {
    height: 2rem;
    font-size: 1.1rem;
    font-weight: bolder;
    background: hsl(140, 100%, 30%);
    color: white;
    border: thin;
}

#new-todo:hover {
    background: hsl(140, 100%, 45%);
}

.expand-todo,
.edit-button,
.check-todo {
    height: 2rem;
    font-size: 1.1rem;
    font-weight: bolder;
    color: white;
    border: thin;
}

.expand-todo {
    background: hsl(210, 100%, 60%);
    width: 2rem;
}

.expand-todo:hover {
    background: hsl(210, 100%, 75%);
}
.edit-button {
    background: hsl(60, 19%, 25%);
}

.edit-button:hover {
    background: hsl(60, 19%, 40%);
}

.check-todo {
    background: hsl(260, 100%, 70%);
}

.check-todo:hover {
    background: hsl(260, 100%, 85%);
}

.delete-button {
    width: 2rem;
    height: 2rem;
    font-size: 1.1rem;
    font-weight: bolder;
    background: hsl(0, 100%, 30%);
    color: white;
    border: thin;
}

.delete-button:hover {
    background: hsl(0, 100%, 45%);
}

/*Styling of the forms*/

#project-form {
    height: 30vh;
    width: 30vw;
    left: 35vw;
    top: 30vh;
    position: fixed;
    z-index: 1;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsla(0, 0%, 100%, 1);
}

#todo-form {
    height: 50vh;
    width: 40vw;
    left: 35vw;
    top: 30vh;
    position: fixed;
    z-index: 1;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsla(0, 0%, 100%, 1);
}

/* Responsive design */

@media screen and (min-width: 901px) and (max-width: 1400px) {
    .project-sidebar {
        padding-left: 2rem;
    }
}

@media screen and (max-width: 900px) {
    #content {
        display: flex;
        flex-direction: column;
    }

    #sidebar {
        height: 25vh;
        width: 100vw;
        border-bottom: groove thin;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #f2f2f2;
    }

    #sidebar-top-wrapper {
        display: flex;
        width: 80vw;
        justify-content: space-between;
        align-items: center;
    }

    #projects-list {
        width: 100vw;
        display: inline-block;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .project-sidebar {
        font-size: 1rem;
    }

    #project-full {
        padding-top: 1rem;
        width: 90vw;
        font-size: 0.75rem;
    }

    .todo-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            'expand delete'
            'edit edit'
            'check check';
    }

    .expand-todo {
        grid-area: expand;
    }

    .edit-todo {
        grid-area: edit;
    }

    .check-todo {
        grid-area: check;
    }

    .delete-todo {
        grid-area: delete;
    }

    #new-todo,
    .edit-button,
    .check-todo {
        height: 1rem;
        font-size: 0.5rem;
    }

    .expand-todo,
    .delete-todo {
        height: 1rem;
        width: 2rem;
        font-size: 0.5rem;
    }

    #project-buttons {
        display: flex;
        flex-direction: column;
    }

    #delete-project {
        height: 1rem;
        width: 4rem;
        font-size: 0.5rem;
    }

    #project-form,
    #todo-form {
        width: 100vw;
        left: 0;
        right: 0;
        border: thin;
    }
}
